<h2> Contacts form </h2>
<form action="/contacts" method= "post">
  <div class="form-group">
    <label for="first_name">Enter first name:</label>
    <input name="first_name" class="form-control" type="text">
    <label for="last_name">Enter last name:</label>
    <input name="last_name" class="form-control" type="text">
    <label for="job_title">Enter job title:</label>
    <input name="job_title" class="form-control" type="text">
    <label for="company">Enter company:</label>
    <input name="company" class="form-control" type="text">
  </div>
  <hr>
  <button action="/" class="btn btn-success">Add contact</button>
</form>
<hr>
<h2>Contacts</h2>
<ul>
  <% @contacts.each() do |contact| %>
  <li><a href="/contacts/<%= contact.id() %>"><%= contact.first_name().+(" ").+(contact.last_name) %></a></li>
  <% end %>
</ul>
<hr>
<form action="/clear" method="post">
  <button class="btn btn-danger" type="submit" name="clear">Remove all Contacts</button>
</form>
