<form action="/phone_number" method= "post">
 <div class="form-group">
   <input name='id' type='hidden' value='<%= @contact.id() %>'>
   <label for="type">type:</label>
   <select class="type" name="type">
     <option value="home">home</option>
     <option value="work">work</option>
     <option value="other">other</option>
   </select>
   <br>
   <label for="extension">Enter extension</label>
   <input name="extension" class="form-control" type="number" required>
   <label for="area_code">Enter area-code</label>
   <input name="area_code" class="form-control" type="number" required>
   <label for="number">Enter number</label>
   <input name="number" class="form-control" type="number" required>
 </div>
 <hr>
 <button action="/phone_number" class="btn btn-success">Add phone-number</button>
</form>
